@import '../../styles/base';

.navbar {
  background-color: $black-93;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: calculateRem(23px) calculateRem(24px);
  z-index: 10;
}

.logo_lista {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_logo {
  @include device(mobile) {
    display: none;
  }
}

.mobileMenu {
  display: none;

  @include device(mobile) {
    display: block;
    cursor: pointer;
  }

  &__links {
    background-color: $black-93;
    position: absolute;
    top: calculateRem(76px);
    left: calculateRem(24px);
    border-radius: calculateRem(10px);

    & > ul {
      list-style: none;
    }

    & li {
      padding: calculateRem(10px) calculateRem(16px);

      &:not(:last-of-type) {
        border-bottom: 1px solid white;
      }
    }

    & a {
      color: white;
      text-decoration: none;
    }
  }
}

.link_itens {
  display: flex;
  list-style: none;
  margin-left: calculateRem(100px);
  @include device(mobile) {
    display: none;
  }
}

.link_itens li {
  margin-right: calculateRem(20px);
}

.link_itens a {
  color: #fff;
  text-decoration: none;
  padding: calculateRem(5px);
  transition: 0.3s;
  border-bottom: calculateRem(2px) solid transparent;
}

.link_itens a:hover {
  color: $orange-700;
  border-color: $orange-700;
}

.container_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form_class {
  position: relative;
}

.img_lupa {
  height: calculateRem(15px);
  position: absolute;
  top: calculateRem(13px);
  right: calculateRem(320px);
  cursor: pointer;
}

.form_input {
  padding-left: calculateRem(40px);
  border-radius: calculateRem(20px);
  width: calculateRem(350px);
  height: calculateRem(40px);
  border: none;
  font-size: calculateRem(12px);

  @include device(mobile) {
    display: none;
  }
}

.img_class {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
    rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  height: calculateRem(28px);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.img_notificacao {
  height: calculateRem(18px);
  cursor: pointer;
}

.img_user {
  height: calculateRem(40px);
  cursor: pointer;
}

.form_input::placeholder {
  padding-left: 3rem;
}
