@import '../../styles/base';

.shield {
  width: calculateRem(106px);
  height: calculateRem(40px);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calculateRem(5px);
}

.artigo {
  border-color: $green-500;
  color: $green-500;
}

.video {
  border-color: $purple-500;
  color: $purple-500;
}

.podcast {
  border-color: $blue-500;
  color: $blue-500;
}

.curso {
  border-color: $red-500;
  color: $red-500;
}
