@import '../../styles/base';

.header {
  width: 100%;
  height: calculateRem(160px);
  background-color: $black-92;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: calculateRem(24px);

  &__titleContainer {
    &_title {
      color: $orange-650;
      
      @include device(mobile){
        font-size: calculateRem(20px);
      }
    }

    &_divider {
      width: calculateRem(696px);
      height: 1px;
      color: $orange-650;

      @include device(mobile) {
        width: calculateRem(327px);
      }
    }
  }
}

.description {
  display: flex;
  justify-content: space-between;
  padding: calculateRem(16px) calculateRem(24px);
  background-color: $black-93;

  @include device(mobile) {
    flex-direction: column;
    gap: 10px;
  }

  &__card {
    display: flex;
    gap: 1rem;

    &_image {
      @include device(mobile) {
        width: calculateRem(118px);
        object-fit: cover;
        border-radius: calculateRem(10px);
      }
    }

    &_text {
      width: calculateRem(401px);
      display: flex;
      flex-direction: column;
      gap: calculateRem(24px);
    }

    &_title {
      font-weight: 600;
      line-height: calculateRem(24px);
      color: $orange-650;
    }

    &_description {
      font-size: calculateRem(14px);
      color: #fff;
    }
  }
}

.progressBar {
  display: flex;
  gap: calculateRem(4px);
  align-items: center;

  label {
    color: white;
    font-size: calculateRem(10px);
    line-height: calculateRem(20px);
    font-weight: 600;

    @include device(mobile) {
      font-size: calculateRem(8px);
    }
  }

  progress {
    background-color: #fff;
    height: 5px;
    border: none;
    width: calculateRem(313px);
    -webkit-appearance: none; /* Needed for WebKit/Blink */

    @include device(mobile) {
      width: calculateRem(148px);
    }

    &::-moz-progress-bar {
      background-color: $orange-650;
    }

    &::-webkit-progress-bar {
      background-color: #fff;
    }

    &::-webkit-progress-value {
      background-color: $orange-650;
    }
  }
}

.buttonControl {
  @include device(mobile) {
    display: none;
  }
}
