.container{
    display: flex;
    background-color: #121212;
} 

.tela_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 36px;
    width: 40%;
}

.tela_1 img{
    height: 10rem;
}

.tela_1 p {
    color: #FFF;
    margin-top: 3rem;
}

.tela_1 p:nth-child(3){
    color: #FF5A23;
}

.tela_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100vh;
    width: 60%;
    padding: 3rem 4.5rem;
    background-image: url(../../public/orangeLogo.svg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 15rem;
}

.tela_2 form{
    margin-top: 10rem;
}

.tela_senha{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 5%;
}

.tela_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.tela_3 input {
    width: 10rem;
    font-weight: bold;
    color: #121212;
}

.tela_3 p{
    font-size: 18px;
    margin-top: 2rem;
}

.tela_3 a:nth-last-child(1){
    color: #FF5923;
}

@media (max-width: 764px) {
    
    .tela_1{
        display: none;
    }

    .tela_2{
        background-color: #121212;
        width: 100%;
        margin: 1rem;
        padding: .5rem 1.5rem;
        border-radius: 0;
        background-image: url(../../public/orangeWhite.svg);
        background-repeat: no-repeat;
        background-size: 10rem;
    }

    .tela_2 input{
        background-color: #1C1D1E;
        color: #FFF;

    }

    .tela_senha{
        flex-direction: column;
    }

    .tela_3 input {
        width: 10rem;
        font-weight: bold;
        color: #FFF;
        background-color: #FF5923;
    }

    .tela_3 p{
        color: #FFF;
    }
}