.div_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
    padding: 1em 1em;
    margin: 2em 2em;
    width: 420px;
    line-height: 2em;
    border: 3px solid;
    border-image: linear-gradient(to right ,#FF3401, #FF5A23, #FF7823, #FFA000) 1;
}

.list_card li{
    background:  url(../../public/seta.svg) no-repeat 7px 7px transparent;
    list-style: none;
    padding-left: 2.5rem;
    color: #FFF;
}





