@import '../../styles/base';

.button {
  width: calculateRem(106px);
  height: calculateRem(40px);
  background-color: $orange-500;
  border-radius: calculateRem(5px);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: calculateRem(19px);
  letter-spacing: calculateRem(0.46px);
  cursor: pointer;
  border: none;
}
