@import '../../styles/base';

.details {
  // border: 1px solid red;
  width: 100%;
  background-color: $gray-200-50;
  display: block;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: calculateRem(18px) calculateRem(24px) calculateRem(18px)
    calculateRem(55px);
  border: 1px solid white;
}

.summary {
  outline: none;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $gray-200;
  color: black;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.groupWrapper {
  display: flex;
  gap: calculateRem(24px);
}

.icon {
  width: calculateRem(32px);
  margin-right: calculateRem(157px);
  align-self: center;
}

.header {
  display: flex;
  align-items: center;
  gap: calculateRem(10px);
  font-weight: 600;
  line-height: calculateRem(24px);

  &__title {
    font-size: calculateRem(18px);
    color: $black-60;
    margin-bottom: calculateRem(8px);
  }

  &__subtitle {
    font-size: calculateRem(10px);
    color: $black-40;
  }
}

.group2 {
  display: flex;
  align-items: flex-end;
}

.topics {
  display: flex;
  background-color: $gray-200;
  height: calculateRem(40px);
  padding: calculateRem(14px) calculateRem(43.5px);
  color: $black-60;
  border-radius: calculateRem(5px);
  font-size: calculateRem(10px);
  line-height: calculateRem(12.1px);
}

.type_button {
  display: flex;
  align-self: flex-end;
  gap: calculateRem(106px);
}
