@import '../../styles/base';

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calculateRem(970px);
  height: calculateRem(562px);
  border-radius: 10px;
  background-color: $white-04;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  overflow-y: scroll;

  @include device(mobile) {
    width: calculateRem(316px);
    height: calculateRem(220px);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 500ms ease;
    backdrop-filter: blur(8px);

    &_afterOpen {
      opacity: 1;
      z-index: 99;
    }

    &_beforeClose {
      opacity: 0;
    }
  }
}

.content {
  position: relative;

  &__title {
    padding: calculateRem(30px) calculateRem(44px);
    font-size: calculateRem(32px);
    line-height: calculateRem(20px);
    color: $orange-700;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white-04;
    border-bottom: 2px solid $gray-200;
  }

  &__close {
    position: absolute;
    top: calculateRem(30px);
    right: calculateRem(44px);
    cursor: pointer;
    z-index: 2;
  }

  &__row {
    &:not(:first-of-type) {
      border-block: 2px solid $gray-200;
    }

    &_title {
      font-weight: 700;
      font-size: calculateRem(20px);
      line-height: calculateRem(24px);
      color: $gray-780;
      padding: calculateRem(47px) calculateRem(44px) calculateRem(25px);
    }

    &_content {
      padding-right: calculateRem(48px);
      margin-inline: auto;
    }
  }

  &__button {
    margin-block: calculateRem(23px) calculateRem(22px);
    display: flex;
    justify-content: center;
  }
}

.table {
  border-collapse: collapse;
}

.modal__redirect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calculateRem(460px);
  height: calculateRem(292px);
  border-radius: 10px;
  background-color: $white-04;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  overflow-y: scroll;

  @include device(mobile) {
    width: calculateRem(316px);
    height: calculateRem(220px);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 500ms ease;
    backdrop-filter: blur(8px);

    &_afterOpen {
      opacity: 1;
      z-index: 99;
    }

    &_beforeClose {
      opacity: 0;
    }
  }

  &_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 100%;
  }

  &_title {
    font-weight: 700;
    font-size: calculateRem(16px);
    line-height: calculateRem(20px);
    color: $orange-700;
    padding: calculateRem(17.5px) calculateRem(20px);
  }

  &_close {
    position: absolute;
    top: calculateRem(17.5px);
    right: calculateRem(20px);
    height: calculateRem(17px);
    cursor: pointer;
  }

  &_info {
    border-block: 2px solid $gray-300;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    height: 100%;
    justify-content: center;
    padding-inline: 30px;
  }

  &_subtitle {
    font-weight: 600;
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    color: $gray-780;
  }

  &_description {
    font-weight: 400;
    font-size: calculateRem(14px);
    line-height: calculateRem(20px);
    color: $black-80;
  }

  &_buttonControl {
    display: flex;
    gap: calculateRem(10px);
    margin-block: calculateRem(22.5px);
    justify-content: center;
  }
}
