@use 'sass:math';

$gray-200: #d9d9d9;
$gray-200-50: rgba(217, 217, 217, 0.5);
$gray-400: #858585;
$gray-780: #1B1F23;
$gray-800: #1c1d1e;

$linear-gradient: linear-gradient(
  90deg,
  #ff5a23 0%,
  #ff3401 32.81%,
  #ff7823 68.23%,
  #ffa000 100%
);

$orange-300: #b69260;
$orange-350: #d39a4a;
$orange-400: #ffa629;
$orange-400-50: rgba(255, 166, 41, 0.5);
$orange-500: #ffa000;
$orange-650: #ff5a23;
$orange-700: #ff5a24;

$green-500: #00c19c;
$purple-500: #6e24df;
$pink-500: #f730bd;
$yellow-500: #ff9f00;

$white-04: #f5f5f5;
$white-40: rgba(255, 255, 255, 0.4);
$white-60: rgba(255, 255, 255, 0.6);

$black-40: rgba(0, 0, 0, 0.4);
$black-60: rgba(0, 0, 0, 0.6);
$black-80: rgba(0, 0, 0, 0.8);
$black-92: #151515;
$black-93: #131313;

/* Media Queries */
$breakpoints: (
  'mobile': 764px,
  'tablet': 1048px,
  'laptop': 1440px,
);

/* Mixins & Functions */
@function calculateRem($size) {
  @return math.div($size, 16px) * 1rem;
}

@mixin device($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
